* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: consolas;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #222;
  padding: 2px;
}
::-webkit-scrollbar-corner {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #666;
  -webkit-border-radius: 1px;
}
#upper-monitor {
  height: 80%;
  border-width: 0;
}
#upper-left-monitor {
  position: relative;
  z-index: 1;
  float: left;
  width: 80%;
  height: 100%;
  border-width: 0;
  background-color: #1c1c1c;
}
#upper-right-monitor {
  position: relative;
  z-index: 1;
  float: left;
  width: 20%;
  height: 100%;
  border-width: 0;
  background-color: #161616;
  box-shadow: 0 0 5px 1px #222222;
}
#lower-monitor {
  position: relative;
  z-index: 1;
  height: 20%;
  box-shadow: 0 0 5px 1px #222222;
}
#console-menu {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
  background-color: #424242;
  color: #aaa;
  padding-left: 10px;
  border-top: 1px solid #666666;
}
#console-output {
  overflow: auto;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 25px;
  bottom: 25px;
  color: #aaa;
  margin: 0;
  padding: 5px 10px;
  background-color: #2b2b2b;
  font-size: small;
  word-wrap: break-word;
}
#console-input-box {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  height: 25px;
  bottom: 0;
  color: #aaa;
  padding-left: 10px;
  background-color: #353535;
}
#console-input {
  font-family: consolas;
  z-index: 2;
  border: 0px;
  background-color: #353535;
  color: #aaa;
  height: 100%;
  width: 100%;
  outline: 0;
  font-size: small;
}
#up-low-divline {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 1px;
  top: 80%;
  background-color: black;
  cursor: s-resize;
  opacity: 0;
}
#two-canvas {
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: white;
}
